.container {
	height: auto;
	border: 1px solid silver;
	border-radius: 20px;
	width: 80%;
	height: auto;
	padding: 3vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background: white;
	flex-wrap: wrap;
	margin-top: 20px;
}
