.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 0.0625rem solid #e4e2e0;
  /* 16*0.0625px */
  height: 70px;
}

.headerContainer li {
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer li:hover {
  border-bottom: 0.5px solid #2557a7;
}

.sectionWithLogoAndFindJobs {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.sectionWithLogoAndFindJobs ul {
  display: flex;
  list-style: none;
  width: 250px;
  justify-content: space-between;
}
.sectionWithLoginAndSignUp {
  display: flex;
  width: 200px;
  list-style: none;
  justify-content: space-between;
}
